html, body {
    height: 100%;
}

.fill {
    height: 100%;
}

textarea {
	height: 400px;
	widht: 100%;
}

.jumbotron {
	margin-bottom: 25px;
}

.about {
	margin-top: 25px;
}

#editor {
	margin: 0 0 12px 0;
	font-size: 1em;
	border: 1px solid rgba(0,0,0,0.20);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 400px;
	box-shadow: 0.1em 0.1em 0.5em #d0d0d0;
}

.slider-handle {
	width: 14px !important;
	height: 14px !important;
	top: 3px;
}